name: Release iOS

on:
  workflow_dispatch:

# Declare default permissions as readonly.
permissions: read-all

env:
  APP_NAME: ${{ secrets.APP_NAME }}

jobs:
  release:
    name: Release iOS App
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ secrets.GIT_REPO }}
          ref: main
          token: ${{ secrets.GIT_PAT }}

      - name: Switch Xcode 16.4
        run: sudo xcode-select --switch /Applications/Xcode_16.4.app

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: "3.38.7"

      - name: Build iOS
        run: bash scripts/package/ios.sh
        env:
          AGE_PRIVATE_KEY: ${{ secrets.AGE_PRIVATE_KEY }}
        shell: bash